@page
@model RegisterModel
@using InstaFood.Utility
@{
    ViewData["Title"] = "InstaFood - Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a asp-page="~/Index"><img src="~/dist/img/logo_transparent.png" alt="InstaFood logo" style="width:428px;height:428px;text-align:center;"/></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="First Name" asp-for="Input.FirstName">
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Last Name" asp-for="Input.LastName">
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number" asp-for="Input.PhoneNumber">
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" asp-for="Input.Email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Retype password" asp-for="Input.ConfirmPassword">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="rdUserRole" value="@StaticDetails.KitchenRole" /> @StaticDetails.KitchenRole
                            <input type="radio" name="rdUserRole" value="@StaticDetails.FrontDeskRole" /> @StaticDetails.FrontDeskRole
                            <input type="radio" name="rdUserRole" value="@StaticDetails.ManagerRole" /> @StaticDetails.ManagerRole
                            <input type="radio" name="rdUserRole" value="@StaticDetails.CustomerRole" /> @StaticDetails.CustomerRole
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>      
                    <a href="#" class="btn btn-block btn-info">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        I already have a membership
                    </a>
                </div>

                </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
